@charset "UTF-8";
*{margin: 0; padding: 0;}
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&family=Poppins&display=swap');
body{
    font-family: Poppins;
}
h1{
    font-family: Inter;
    text-align: center;
}

.menu{
    float: left;
}
.menu li{
    font-family: Inter;
    list-style-type: none;
    background-color: lightblue;
    border: 1px solid#333;
    position: relative;
    border-right: 1px solid black;
    float: left;
}
.menu li a{
    color:#333; text-decoration:none; padding:5px 10px; display:block;
}
.menu li a:hover{
    background:#333;
    color:#fff;
}
.menu li ul{
    position:absolute;
    background-color: greenyellow;
    top:30px;
    left:100px;
    display:none;
}
.menu li:hover ul{
    display:block;
}
.menu li ul li{
    display:block;
    width:150px;
}

.menu li.fazemos{
    background-color: #000;
}

