@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

@font-face {
    font-family: 'idroid';
    src: url(fonts/idroid.otf);
}

body {
    font-family: 'Open sans', Helvetica, sans-serif;
    background-color: rgb(248, 215, 172);
}

header {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to top, #025951, #038C3E);
    color: white;
    align-items: center;
    font-family: 'Open sans', Helvetica, sans-serif;
    padding: 20px;
    box-shadow: 1px 2px 2px black;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.4rem;
}

header h2 {
    font-size: 1rem;
}

nav {
    display: block;
    background-color: #232323;
    height: auto;
    width: 100%;
    box-shadow: 1px 1px 1px black;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px 15px;
    border-radius: 10px;
    display: block;
}

nav a:hover {
    color: bisque;
    transition: .2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    max-width: 950px;
    padding: 10px;
    background-color: white;
    gap: 10px;
    box-shadow: 0px 0px 5px black;
    text-align: left;
}

main img{
    width: 100%;
}

p {
    text-indent: 20px;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.content-visual {
    align-self: center;
    width: 100%;
}

main a {
    text-decoration: none;
    color: #2875c2;
    padding: 0px 2px;
}

main a:hover {
    text-decoration: underline;
}

main a::after {
    content: " 🔗";
}

main h1 {
    font-size: 2.5rem;
    font-family: 'idroid';
    color: #005b3e;
    padding-left: 6px;
    align-self: center;
    margin-bottom: 10px;
}

main h2 {
    font-size: 1.8rem;
}



main .special-font {
    font-family: 'idroid';
    color: #005b3e;
    padding-left: 6px;
    background: linear-gradient(90deg, #00826a84, rgba(255, 255, 255, 0));
}

section {
    display: flex;
    flex-direction: column;
    border: 2px solid #02A676;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title-section {
    background-color: #005b3e;
    color: white;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

span {
    font-size: 1.4em;
    color: rgb(219, 187, 148);
    text-shadow: 1px 1px 1px black;
}

.element-section {
    padding-left: 20px;
}

section ul {
    columns: 3;
    margin: 0 auto 20px auto;
}

section ul li {
    list-style: none;
    font-weight: bold;
}

section ul li::before {
    content: "• ";
    color: black;
    font-weight: bold;
}

.after-footer {
    padding: 15px;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f5f6;
    height: auto;
    padding: 20px;
    justify-content: center;
    border: 2px solid lightslategray;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
}

footer ul li {
    font-family: 'Libertinus Sans';
    color: #6e727a;
    padding: 10px;
    cursor: pointer;
}

ul li:hover {
    color: black;
}

@media screen and (max-width: 1000px) {
    main {
        width: 90%;
    }

    section ul {
        columns: 2;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.9rem;
    }

    header h2 {
        font-size: 0.8rem;
    }

    nav ul li a {
        padding: 8px;
        font-size: 0.9rem;
    }

    p, span {
        font-size: 1.1rem;
    }

    main h1 {
        font-size: 1.8rem;
    }

    main h2 {
        font-size: 1.4rem;
    }

    .title-section {
        font-size: 1rem;
    }

    section ul {
        columns: 2;
    }
}
